/* VARIABLES */
@boxshadow: 2px 2px 2px -1px rgba(0,0,0,0.53);
@purple-haze: -webkit-linear-gradient(left top, #3023ae, #c86dd7);
@green-giant: -webkit-linear-gradient(top, #B4EC51, #429321);
@grey-goose: -webkit-linear-gradient(top, #818181, #4a4a4a);
@black: #18181a;
@orangina: #F5A623;

body{
    background: @purple-haze;
    font-family: 'Montserrat', sans-serif;
}
#main{
    padding-top:60px;
}
.game-container{
    max-width:400px;
}
#sidebar{
    width:100%;
    top:0;
    .sidebar-inner{
        width:100%;
    }
}
.main-menu {
    margin: 80px 0 0 0;
    z-index:5;
    li{
        a{
            padding:20px 0;
            text-align: center;
            text-transform: uppercase;
        }
    }
}
img{
    max-width:100%;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.left-align{
    text-align: left;
}
.right-align{
    text-align: right;
}
.center-align{
    text-align: center;
}
#header{
    background-color: transparent;
    box-shadow: none;
    min-height: 50px;
    .header-inner{
        padding:0;
        .line-wrap{
            margin:19px 20px;
        }
    }
    .logo a{
        padding-top:12px; 
        img{
            height:30px;
            z-index:4;
        }
    }
}
#footer{
    height:inherit;
    padding:0 0 10px 0;
    .footer-text p{
        margin:0;
        color:white;
    }
    .sm-text{
        font-size: 8px;
    }
    ul{
        list-style: none;
        text-align: center;
        padding: 0;
        li{
            display:inline-table;
            width:15%;
            margin:0 5px;
            max-width:40px;
        }
    }
}

/* PRIZE FUNDS */
.prize-funds{
    text-align: center;
    text-transform: uppercase;
    h3{
        color: white;
        font-size: 16px;
        margin:0;
        span{
            display: block;
            font-size: 8px;
        }
    }
}

/* INSTRUCTION */
.instruction{
    margin:0 auto;
    h4{
        color:white;
    }
}

/* CARDS */
.player-cards{
    position: relative;
    h2{
        color:white;
        font-size: 12px;
        text-transform: uppercase;
        margin:10px 0 5px 0;
    }
    .count{
        position: absolute;
        bottom: -10px;
        left: 20px;
        z-index: 4;
        border:1px solid @black;
        color:@orangina;
        background: @grey-goose;
        padding:4px 8px;
        border-radius: 15px;
    }
    .hand{
        list-style: none;
        padding:0;
        margin:0;
        li{
            width:85%;
        }
        .card2,
        .card4,
        .card6{
            margin-left:10%;
            margin-top:-88%;
        }
        .card3,
        .card5{
            margin-top:-88%;
        }
    }
}

.dealer-cards{
    position: relative;
    text-align: right;
    h2{
        color:white;
        font-size: 12px;
        text-transform: uppercase;
        margin:10px 0 5px 0;
    }
    .count{
        position: absolute;
        bottom: -10px;
        right: 20px;
        z-index: 4;
        border:1px solid @black;
        color:@orangina;
        background: @grey-goose;
        padding:4px 8px;
        border-radius: 15px;
    }
    .hand{
        list-style: none;
        padding:0;
        margin:0;
        li{
            width:85%;
            float:right;
        }
        .card2,
        .card4,
        .card6{
            margin-right:10%;
            margin-top:-88%;
        }
        .card3,
        .card5{
            margin-top:-88%;
        }
    }
}

/* ACTION AREA */
.action-area{
    position:absolute;
    margin:0 15px 0 0;
    bottom:90px;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center center;
}
.right-btns{
    float:right;
}
.action-btn{
    background: @green-giant;
    color:white;
    text-transform: uppercase;
    border:2px solid #18181a;
    display: inline-block;
    padding:0 8px;
    height:40px;
    width:90%;
    border-radius:20px;
    margin-bottom:10px;
    box-shadow: @boxshadow;
    line-height: 1;
    font-size: 10px;
    span{
        width:48%;
        vertical-align: middle;
    }
    span.odds{
        float:left;
    }
    span.action{
        float: right;
    }
}

/* POT */

.pot{
    h4{
        color:white;
        text-align: center;
    }
    ul{
        list-style: none;
        text-align: center;
        li{
            display:inline-table;
            width:15%;
            margin-left: -10%;
        }
    }
}