<div class="container">
    <div class="row no-gutter chips">
        <div class="col-xs-2">
            <img src="img/Chips/blue-chip.png">
        </div>
        <div class="col-xs-2">
            <img src="img/Chips/red-chip.png">
        </div>
        <div class="col-xs-2">
            <img src="img/Chips/green-chip.png">
        </div>
        <div class="col-xs-2">
            <img src="img/Chips/black-chip.png">
        </div>
        <div class="col-xs-2">
            <img src="img/Chips/purple-chip.png">
        </div>
    </div>

    <div class="row footer-text">

        <div class="col-xs-6 left-align">
            <p>Balance €567.50</p>
            <p>*Minimum Payout</p>
        </div>
        <div class="col-xs-6 right-align">
            <p>Rewards Pts 173</p>
            <p>Licenced in Ireland</p>
        </div>

    </div>
    
</div>
