#service h4{
    color:#0e76bc !important;
}
.content-list,
.side-menu-list{
    padding:0 0 0 20px;
}
.content-list li span.margin-italic{
    display: block;
    margin-left:40px;
    font-style: italic;
}
.footer-info-header{
    text-transform: uppercase;
    font-weight: bold;
}